// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: hsl(0, 0%, 20%);
$secondary: hsl(300, 100%, 15%);
$success: green;
$info: blue;
$warning: yellow;
$danger: red;

$list-group-color: white;
$list-group-bg: $primary;

$list-group-hover-bg: white;
$list-group-active-color: $primary;
$list-group-active-bg: white;
$list-group-active-border-color: $list-group-active-bg;

$list-group-action-active-color: $primary;
$list-group-action-active-bg: none;
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.nav-link {
	color: white;
	margin-top: 0.5rem;
	font-weight: bold;
	border-radius: 10%;
}
.nav-item {
	padding-inline: 1rem;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
	color: $secondary;
}
.nav-link:active,
.nav-link.active {
	background-color: $info;
}

.dropdown-item {
	color: white;
}
ul > li.dropdown:hover ul {
	display: block;
}
.navbar-brand {
	color: $white;
	max-width: 30%;
}
.navbar-brand:hover,
.navbar-brand:focus {
	color: white;
	border: 4px solid $secondary;
}
.btn-outline-secondary {
	border: solid 3px $secondary;
	color: white;
}
.container {
	color: white;
}
.form-search {
	border: 2px solid $info;
}
.form-search:hover,
.form-search:focus {
	border: 2px solid $secondary;
}
.btn:hover {
	font-weight: bold;
}
.modal-body {
	form > button.btn {
		color: $primary;
	}
	form > button:hover {
		color: white;
	}
}
.img-fluid {
	padding: 1rem;
	border-radius: 10%;
}

.link {
	color: $info;
}

.row {
	header {
		img {
			display: block;
			max-height: 200px;
			width: auto;
			margin-inline: auto;
		}
	}
	p {
		text-indent: 0;
		margin-top: 1rem;
		text-align: center;
		margin-inline: 1rem;
	}
}
header {
	h1 {
		a {
			text-decoration: none;
		}
	}
}
// listy

.list-group {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	a.list-group-item:hover {
		font-weight: bold;
		background-color: white;
	}
}

div > header > h1 {
	text-align: center;
}
